{
  "ConnectionStrings": {
    "DefaultConnection": "Server=tensv;Database=HOMESTAY_DB;Trusted_Connection=True;TrustServerCertificate=True;"
  },
  "Jwt": {
    "Key": "keybimat" //t cài key trên máy riêng nên đoạn này nhờ ai tạo code gen key nhé
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
